<header>
  <nav class='navbar'>
    <%= link_to t('menus.top.today_menus'), root_path, class: 'navbar-brand' %>
    <div class='navbar-user'>
      <div class='dropdown-divider'></div>
      <div class='navbar-item' id='hamburger-menu'>
        <%= t('header.my_page') %>
        <div class='menu-content' id='menu-content'>
          <%= link_to t('header.profile'), edit_profile_path, class: 'menu-item' %>
          <%= link_to t('header.board'), new_menu_path, class: 'menu-item' %>
          <%= link_to t('header.board_index'), menus_path, class: 'menu-item' %>
          <%= link_to t('header.bookmark_index'), likes_menus_path, class: 'menu-item' %>
          <%= link_to t('header.line'), '#', class: 'menu-item' %>
          <%= link_to t('header.logout'), logout_path, class: 'menu-item', data: { turbo_method: :delete } %>
        </div>
      </div>
    </div>
  </nav>
</header>